/.vs/Fish/v15/.suo
/.vs/Fish/v15/sqlite3/storage.ide
*.dll
/Library/*
/Temp/*
/Fish.csproj
/Fish.sln
/.vs/Fish/v15/Browse.VC.db
/.vs/Fish/v15/Browse.VC.opendb
/.vscode/settings.json
/Fish.Editor.csproj
/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
*Library/
