/.vs/Fish/v15/.suo
/.vs/Fish/v15/sqlite3/storage.ide
/Library/*
/Temp/*
/Fish.csproj
/Fish.sln
/.vs/Fish/v15/Browse.VC.db
/.vs/Fish/v15/Browse.VC.opendb
/.vscode/settings.json
/Fish.Editor.csproj
/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
*Library/

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*Assembly/
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
Assembly-
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
/obj/Debug/Assembly-CSharp-Editor-firstpass.csproj.CoreCompileInputs.cache
/obj/Debug/Assembly-CSharp-firstpass.csproj.CoreCompileInputs.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
